.AboutMe {
	color: black;
	font-size: 18px;	
	font-family: helvetica;
	text-align: center;
}

.AboutMe__Text--top {
	font-family: helvetica;
	font-weight: bold;
	padding-right: 15cm;	
	background-image: url(typewriter.jpg);
	background-size: 600px 400px;	
	background-repeat: no-repeat;
	background-position: top right;
}

.AboutMe__Text--bottom {
	font-family: helvetica;
	font-weight: bold;
}

.Aspirations {
	background-color: lightgray;
	color: black;
	font-family: helvetica;
	text-align: right;
}

.OddsandEnds {
	background-color: lightgray;
	color: black;
	font-family: helvetica;
	text-align: center;}

.navigation {
	background-color: lightblue;
	font-family: helvetica;
	font-style: italic;
	font-size: 10px;
}
.navigation__oddsandends {
	text-align: right;
}

.navigation__aspirations {
	text-align: right;
}
.socialmedia {
	padding-left: 2cm;	
}
